.slide {
    position: absolute;
    width: 48.4375%;
    height: 100vh;
    object-fit: cover;
}

.left-delay:nth-of-type(1) {
    animation-delay: 8s;
}

.right-delay:nth-of-type(1) {
    animation-delay: 6s;
}

/*
#left-carousel img:nth-of-type(1) {
    animation-delay: 8s;
}

#right-carousel img:nth-of-type(1) {
    animation-delay: 6s;
}*/

.click img:nth-of-type(1) {
    animation-name: fader !important;
    animation-duration: 2s !important;
    z-index: 20 !important;
    animation-delay: 0s !important;
}

.click img:nth-of-type(2) {
    z-index: 10 !important;
}

.click img:nth-of-type(n+3) {
    display: none !important;
}

#mobile-carousel img:nth-of-type(1) {
    animation-delay: 6s;
}

#left-carousel img:nth-of-type(1),
#right-carousel img:nth-of-type(1),
#mobile-carousel img:nth-of-type(1) {
    animation-name: fader;
    animation-duration: 2s;
    z-index: 20;
}

#left-carousel img:nth-of-type(2),
#right-carousel img:nth-of-type(2),
#mobile-carousel img:nth-of-type(2) {
    z-index: 10;
}

#left-carousel img:nth-of-type(n+3),
#right-carousel img:nth-of-type(n+3),
#mobile-carousel img:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@media screen and (max-width: 1020px) {
    .slide {
        position: absolute;
        width: 94.66666666%;
        height: 100vh;
        object-fit: cover;
    }
}