.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-container {
    display: none;
}

@media screen and (max-width: 1025px) {
    #home {
        height: 100vh;
        position: inherit;
        margin-bottom: 8px;
    }

    .slide {
        position: absolute;
        height: 100vh;
        object-fit: cover;
    }

    .img-container.mobile-hide {
        display: none;
    }

    .carousel-wrap-mobile.desktop-hide {
        display: flex;
        opacity: 1;
        justify-content: center;
        align-items: center;

        width: -webkit-fill-available;
        margin: 0px 8px;
        position: absolute;
    }

    .img-container.desktop-hide {
        display: flex;
        opacity: 1;
    }

    .carousel-inner {
        height: 100vh;
    }
}


.img-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.img-container img {
    opacity: 0;
    z-index: 0;
}

.img-container img.next {
    opacity: 1;
    z-index: 1;
}

.img-container img.prevRight {
    opacity: 1;
    z-index: 2;
}

.img-container img.prevLeft {
    opacity: 1;
    z-index: 2;
}

.img-container img.fade-out {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    visibility: hidden;
}