@font-face {
    font-family: 'LTC Caslon Pro';
    src: local('LTC Caslon Pro Regular'), local('LTC-Caslon-Pro-Regular'),
        url('ACaslonPro-Regular.woff2') format('woff2'),
        url('ACaslonPro-Regular.woff') format('woff'),
        url('ACaslonPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }